/* Based on Sublime Text's T-Vlog theme */
.t-vlog-poster {
  .markdown-controls {
    color: #333;
    width: 100%;
    padding: 4px 15px;
    background: #f6f6f7;
    border-bottom: 1px solid #bbb;

    legend {
      color: #333;
    }

    form {
      margin: 0;
      background: #f6f6f7;
    }

    fieldset {
      label {
        margin-left: 10px;
      }
    }
  }
}

.cm-s-t-vlog {
  &.CodeMirror {
    padding-top: 70px;
    background: #fff;
    color: #333;
  }

  div {
    &.CodeMirror-selected {
      background: #49483E;
    }
  }

  .CodeMirror-line {
    &::selection,
    > span::selection,
    > span > span::selection {
      background: rgba(189, 186, 218, .7);
    }

    &::-moz-selection,
    > span::-moz-selection,
    > span > span::-moz-selection {
      background: rgba(189, 186, 218, .7);
    }
  }

  .CodeMirror-gutters {
    background: #272822;
    border-right: 0px;
  }

  .CodeMirror-guttermarker {
    color: white;
  }

  .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
  }

  .CodeMirror-linenumber {
    color: #d0d0d0;
  }

  .CodeMirror-cursor {
    border-left: 1px solid #222;
  }

  span {
    &.cm-comment {
      color: #75715e;
    }

    &.cm-atom {
      color: #ae81ff;
    }

    &.cm-number {
      color: #ae81ff;
    }

    &.cm-comment {
      &.cm-attribute {
        color: #97b757;
      }

      &.cm-def {
        color: #bc9262;
      }

      &.cm-tag {
        color: #bc6283;
      }

      &.cm-type {
        color: #5998a6;
      }
    }

    &.cm-property,
    &.cm-attribute {
      color: #a6e22e;
    }

    &.cm-keyword { color: #f92672; }
    &.cm-builtin { color: #66d9ef; }
    &.cm-string { color: #e6db74; }
    &.cm-variable { color: #f8f8f2; }
    &.cm-variable-2 { color: #9effff; }
    &.cm-variable-3, &.cm-type { color: #66d9ef; }
    &.cm-def { color: #fd971f; }
    &.cm-bracket { color: #f8f8f2; }
    &.cm-tag { color: #f92672; }
    &.cm-header { color: #ae81ff; }
    &.cm-link { color: #ae81ff; }
    &.cm-error { background: #f92672; color: #f8f8f0; }
  }

  .CodeMirror-activeline-background {
    background: #373831;
  }

  .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #fff !important;
  }
}
